<% content_for :page_title, 'Sign-up' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<fieldset>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %>
    <span class="help-block">We're not going to send anything, so it doesn't need to be an actual address. (I'm partial to Peanuts characters such as snoopy@peanuts.com and charlie.brown@peanuts.com.)</span>
  </div>

  <div class="control-group">
    <%= f.password_field :password, :placeholder => 'Password' %>
  </div>

  <div class="control-group">
    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
  </div>
</fieldset>

<fieldset>
  <%= f.submit "Sign up", :class => "btn" %>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
